.mainWrapper {
  display: flex;
  min-height: calc(100vh - 84px);
  justify-content: center;
  gap: 28px;
  padding: 40px 162px 44px 162px;
  background-color: #F5F5F5;
}

.responseRequestWrapper {
  display: flex;
  gap: 20px;
  flex-direction: column;
  max-width: 773px;
}

.leftSection {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #232134;
}


.content {
  height: fit-content;
  max-width: 773px;
  background: #FFFFFF;
  border: 1px solid #EAEBED;
  border-radius: 12px;
  padding: 24px 24px 24px;
}

.content b {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #232134;
  padding-left: 24px;
}

.content ul {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #232134;
  padding-left: 24px;
  margin-top: 16px;
  margin-bottom: 20px;
}

.error {
  font-weight: 500;
  font-size: 20px;
  color: red;
  line-height: 20px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .mainWrapper {
    padding: 40px 10px 44px 10px;
  }
}

@media screen and (max-width: 600px) {
  .mainWrapper {
    padding: 20px 10px 20px 10px;
  }

  .content {
    padding: 12px 12px 12px;
  }
}