.mainWrapper {
  display: flex;
  min-height: calc(100vh - 84px);
  justify-content: center;
  gap: 28px;
  width: 100vw;
  padding: 40px 162px 44px 162px;
  background-color: #F5F5F5;
}

.responseRequestWrapper {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  max-width: 773px;
}

.error {
  font-weight: 500;
  font-size: 18px;
  color: red;
  line-height: 20px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .mainWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 40px 10px 44px 10px;
  }
}

@media screen and (max-width: 840px) {
  .mainWrapper {
    width: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    gap: 10px;
    padding: 20px 10px 20px 10px;
  }
}

@media screen and (max-width: 840px) {
  .responseRequestWrapper {
    min-width: calc(100vw - 40px);
  }
}