.mainWrapper {
  display: flex;
  min-height: calc(100vh - 84px);
  justify-content: center;
  gap: 28px;
  width: 100vw;
  padding: 40px 162px 44px 162px;
  background-color: #F5F5F5;
}

.responseWrapper {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  max-width: 773px;
}

.content {
  height: fit-content;
  max-width: 773px;
  background: #FFFFFF;
  border: 1px solid #EAEBED;
  border-radius: 12px;
  padding: 24px 24px 24px;
}

.content b {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #232134;
  padding-left: 24px;
}

.content ul {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #232134;
  padding-left: 24px;
  margin-top: 16px;
  margin-bottom: 20px;
}

.vacanciesAbsentWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  margin: 0 auto;
  margin-top: 80px;
}

.vacanciesAbsentWrapper button {
  color: #3B7CD3;
  background-color: #DEECFF;
}

.absentTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #343A40;
}

.error {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #343A40;
}

@media screen and (max-width: 600px) {
  .mainWrapper {
    padding: 20px 10px 20px 10px;
  }
}